.header {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;

  @include viewport--md {
    cursor: pointer;
  }
}

.header__logo {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.open-page {
  .header__wrapper {
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
  }

  .header__logo {
    position: fixed;
    visibility: visible;
    opacity: 1;
    animation-name: logoPage;
    animation-duration: $animation-duration;
  }
}
